# Backend
backend/.env
backend/mediaeditor.db
backend/storage/uploads/*
backend/storage/processed/*
backend/storage/masks/*
!backend/storage/uploads/.gitkeep
!backend/storage/processed/.gitkeep
!backend/storage/masks/.gitkeep
backend/ai_models/*.pt
backend/storage/video_work
backend/__pycache__/
backend/**/__pycache__/
backend/venv/

# Frontend
frontend/node_modules/
frontend/dist/
